<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT POST</title>
</head>
<body>
    <h2>edit your work</h2>
    <p>postid:<%= post.id %> </p>
    <p>post username::<%= post.username %> </p>
    <form  method="post" action="/posts/<%=post.id%>?_method=PATCH">
<textarea name="content" id=""><%= post.content %></textarea>
<button>submit</button>
    </form>
</body>
</html>